@import 'tailwindcss';

* {
    box-sizing: border-box;
}

body {
    background-color: #f9f9f9;
}

body * {
    font-family: 'Ubuntu', serif !important;
}

#ubuntu-container {
    background-image: url('./assets/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.tabs-section {
    background-color: #ebebeb;
}
